* {
	margin: 0 auto;
	padding: 0;
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	
}

.lable {
	color: white;
	width: 126px;
	height: 28px;
	float: left;
}

.lable p {
	margin-top: 8px;
}



.menu_now {
	width: 100px;
	height: 80px;
	float: left;
	margin: 3px 0 0 6px;
	text-align: center;
}





