@charset "UTF-8";
body{
	background: url("../image/1.jpg") no-repeat center fixed; 
	
	background-size: cover;
	padding-top: 60px;
	padding-right: 10px;
}
form{
	width: 360px;
	height: 380px;
	
margin-left:900px;
	
	padding: 30px;
	border: 1px splid rgba(0,0,0,0.2);
	border-radius:8px;
	background: rgba(0,0,0,0.5);
	box-shadow:  0 0 13px 3px rgba(0,0,0,0.5);
	overflow: hidden;
}
input{
	width: 235px;
    height: 30px;
    border:1px solid rgba(255,255,255,0.4);
    border-radius:6px;
    display: block;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    color:#fff;
    padding-left:45px;
    padding-right: 20px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.8) no-repeat 16px 16px;  
  
}
input[type=submit]{
	cursor: pointer;
}
::-webit-input-placeholder{
	color:#fff;
}
input:focus{
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
	overflow: hidden;
}
.btn{
	width: 100px;
	height: 44px;
	border-radius: 4px;
	margin-left:30px;
	background: #00B0DC;
    padding: 10.5px 21px;
   
    color: #e1e1e1;
    
}
.btn:hover{
	border:1px solid #253737;
	text-shadow: 0 1px 0 #333333;
	background: #00B0DC;
	color: #fff;
}
.btn:active {
	margin-top: 1px;
	text-shadow: 0 -1px 0 #253737;
	background: #00B0DC;
	color: #fff;
}
select{
	float: right;
	width: 135px;
    height: 30px;
    border:1px solid rgba(255,255,255,0.4);
    border-radius:6px;
    display: block;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    text-align:left;
    color:#00B0DC;
    padding-left:45px;
    padding-right: 20px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.2) no-repeat 2px 8px; 
}